<div class="small-12 columns">
	<h1>Item Details</h1>
	<p>
	  <strong>Name:</strong>
	  <%= @item.name %>
	</p>
	
	<p>
	  <strong>Starting bid:</strong>
	  <%= @item.starting_bid %>
	</p>
	
	<p>
	  <strong>Auction end:</strong>
	  <%= @item.auction_end %>
	</p>
	
	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
</div>
